body {
width: 80%;
margin: 40px auto;
text-align: center;
background-color: rgba(0, 179, 255, 0.514);
}


h1 { margin-bottom: 25px; }


.form-area {
display:inline-block;
padding: 10px;
border-radius: 10px;
background: rgba(255, 255, 255, 0.753);
justify-content: center;
gap: 10px;
margin-bottom: 15px;
box-shadow: #000000 0 4px 10px;
}


input, button {
padding: 8px;
border-radius: 6px;
border: none;
}


button {
background: #1389ff;
color: white;
font-weight: bold;
cursor: pointer;

}


button:hover { background: #0052a3; }


#filter {
margin-top: 30px;
width: 330px;
margin-bottom: 34px;
box-shadow: 0 4px 10px #000000;
border-collapse: collapse;

}


table {
width: 100%;
border-collapse: collapse;
background: rgba(22, 46, 45, 0.756);
box-shadow: 0 4px 10px rgb(0, 0, 0);
border-radius: 8px;

}


th, td {
padding: 10px;
border-bottom: 1px solid rgb(255, 255, 255);
}


.action-btn {
margin: 0 4px;
padding: 4px 8px;
cursor: pointer;
}
